@font-face {
  font-family: MarykateRegular;
  src: url(MarykateRegular.ttf);
}
@font-face {
  font-family: BalsamiqSans;
  src: url(BalsamiqSans-Regular.ttf);
}
h1{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MarykateRegular";
  color: #d8cff6;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BalsamiqSans";
  color: #ffffff;
}
body {
    min-height: 800px;
    background-image: url();
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }

  #Campo {
  border: 3px solid #2b1d5a;
  color: #2b1d5a;
  border-radius: 3px;
  }

button {
  background: #b621fe;
  border: none;
  z-index: 1;
}
button:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
button:hover {
  color: #fff;
}
button:hover:after {
  left: 0;
  width: 100%;
}
button:active {
  top: 2px;
}

  
  .page-title {
    color: #ffffff;
    font-size: 55px;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    font-size: 25px;
    margin-top: 5px;
  }

  .interrogue {
  color: #ffffff;
  font-size: 20px;
  }

  .resultado {
  color: #ffffff;
  font-size:19px;
  top: 350px;
  }

  .page-logo {
  width: 250px;
  }

  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }
